
.post-card {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: #202f5755;
    border: 1px solid var(--color-bg);
    border-radius: 8px;
    margin: 0.5rem 0rem;
    padding: 1rem 0.2rem;
    justify-content: center;
    align-items: center;
}

.post--user{
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 100%;
    padding: 0rem;
    margin-bottom: 0.5rem;
    min-height: 10dvh;
    border-bottom: 1px solid var(--color-muted);
}
.home-feed-item .post--user {
    margin-bottom: 1rem !important;
}
.post--userimagecontainer{
    display: flex;
    align-items: center;
    margin: 0.2rem;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 1.2rem;
}

.post--userimage{
    margin: 0;
    margin-left: 2rem;
    max-width: 15%;
    border: 1px solid var(--color-bg);
    box-shadow: 0 1px 5px var(--color-bg);
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.post-username-cont{
    display: flex;
    flex-direction: column;
}
.post--username{
    display: block;
    color: #a7acb1;
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    text-shadow: 0 0 4px #fffa;
}
.post--date{
    display: block;
    font-size: 0.7rem;
    color: #878c91;
    margin-left: 1rem;
    margin-top: 0;
}


.post-body{
    min-height: 100%;
    min-width: 95%;
    border: 1px solid var(--color-bg);
    background-color: #040404cc;
    box-shadow: 1px 1px 5px 0 var(--color-accent-cyan);
    border-radius: 8px;
    margin: 0.5rem;
    padding: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
    animation: live-shadow 4s ease-in-out infinite;
}

.post-body p {
    text-align: left !important;
    margin-left: 2rem; 
    margin-top: 1rem !important;
    width: 100%;
    min-height: 100%;
    white-space: pre-wrap;
}



.post--data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
    color: #a7acb1;
    width: 100%;
}

.post--upvote--container button{
    background-color: transparent;
    box-shadow: none;
    border: none;
    font-size: 1.3rem;
    transition: 0.3s ease all;
}
.post--upvote--container button::before{
    content: "";
}
.post--upvote--container button:hover{
    background-color: transparent;
    box-shadow: none;
    border: none;
    scale: 1.1;
}
.post--upvote--container button:active::before{
    background-color: transparent;
    box-shadow: none;
    border: none;
    scale: 1.5;
}

.post--upvote--container span{
    color: #ffffff;
}

.post-upvote{
    margin: 0.3rem;
}
.post-comm-length {

}

.post--comment{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
    text-align: left;
    align-items: center;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.3s ease-out;
}
.coment--card, .coment--cardPlaceHolder{
    flex: 1 1 100%;
    border: 1px solid var(--color-bg);
    margin-bottom: 1rem;
    background-color: #212529;
    width: 100%;
}
.coment--cardPlaceHolder {
    padding: 1rem;
    margin-bottom: 0;
}
.coment--card{
    margin: 0.2rem 0;
    padding: 0.5rem;
}
.comment-usercont {
    align-items: center;
    text-align: center;
    max-width: 100%;
    padding: 0rem;
    margin-top: 0.5rem;
    border-bottom: 1px solid #111119;
}
.comment-usercont .post--userimagecontainer {
    max-width: 50%;
}
.coment--cardUsername{
    color: #a7acb1;
    font-size: 0.8rem;
    text-align: left;
    margin: 0.5rem;
}
.coment--cardBody{
    margin-top: 1rem;
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 0;
}
.coment--cardDate{
    color: #a7acb1;
    font-size: 0.7rem;
    margin-top: 0;
    text-align: right;
}

.coment--cardPlaceHolder{
    color: #a7acb1;
}


.coment--cardShow{
    border-radius: 8px;
    max-width: 75%;
    margin-top: 0.5rem;
    background-color: #212529;
    color: #6edff6aa;
}
.comment--send{
    border-radius: 8px;
    background-color: #212529;
    color: #6edff6aa;
    align-self: flex-end;
}

.comment--label {
    width: 90%;
    min-width: 80%;
    margin: 0;
}

.comment--label input {
    margin: 1rem 0 0.5rem 0;
    background-color: #212529;
    color: #a7acb1;
    font-size: 0.9rem;
    outline: none;
    border-right: 2px solid var(--color-bg);
    border-bottom: 2px solid var(--color-bg);
    width: 100%;
    min-height: 2dvh;
    transition: all 0.5s ease-out;
}

.comment--label input:focus,
.comment--label input:active{
    min-height: 15dvh;
}


